<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Area:</strong>
  <%= @blog.area %>
</p>

<p>
  <strong>Time:</strong>
  <%= @blog.time %>
</p>

<p>
  <strong>Ph value:</strong>
  <%= @blog.ph_value %>
</p>

<p>
  <strong>Clarity value:</strong>
  <%= @blog.clarity_value %>
</p>

<p>
  <strong>Temperature value:</strong>
  <%= @blog.temperature_value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @blog.status %>
</p>

  <p>List of comments (the contents below from here are important)</p>
  <!-- Get the HTML id of this comments_area and update only that part of the div-->
  <div id="comments_area">
    <!-- Render to display a list of posted comments on the blog details page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>
  <!-- Render to display the comment input field on the detail page of the blog -->
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Return', blogs_path %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
