<!DOCTYPE html>
<html>
  <head>
    <title>River2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  </head>

    <body style="background:#e9ebee">

    <body style="background:#e9ebee">
    <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #3c5a98;color:white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" style="color:white;font-size:40px;margin-left:153px"><b>River Detector App</b></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <form class="form-inline my-2 my-lg-0">
      <ul>
      
        <% if user_signed_in? %>

  <li>
    <%= link_to "Blog post", blogs_path, class:"link-light" %>
  </li>

  <li>
    <%= link_to "Admin Dashboard",  rails_admin.dashboard_path,:"data-no-turbolink"=>true,method:"get", class:"link-light" %>
  </li>
  </ul>
        <%= link_to "Home", homes_index_path, class:"btn btn-outline-light btn-rounded ml" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-outline-light btn-rounded ml" %>


        <% else %>
        <li><%= link_to "sign up", new_user_registration_path, class:"btn btn-outline-light btn-rounded " %></li>
        <li><%= link_to "Login", new_user_session_path, class:"btn btn-outline-light btn-rounded  " %></li>
          </ul>
        <% end %>
      </form>
    </div>
</nav>
    <% if notice %>
      <p class="alert alert-success", style='margin:2%'><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger", style='margin:2%'><%= alert %></p>
    <% end %>
    <%= yield %>

<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->

    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white">River.detector. SA. All rights reserved</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>

</body>
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script>
    window.__lc = window.__lc || {};
    window.__lc.license = 13141605;
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
</script>
<noscript><a href="https://www.livechatinc.com/chat-with/13141605/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
<!-- End of LiveChat code -->

</html>
